.app {
   padding: 0px 20px;
}

.page-title {
   font-size: 1.2em;
   margin: 10px 0px;
}

.tables {
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 20px;
}

.top-thread {
   display: flex;
   justify-content: space-between;
   border: 1px solid #ddd;
   padding: 8px;
   text-align: center;
}

table {
   text-align: center;
   border-collapse: collapse;
   max-width: 900px;
   width: 100%;
}

table th,
table td {
   border: 1px solid #ddd;
   padding: 8px;
}

.modal-background {
   position: fixed;
   z-index: 1;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   overflow: auto;
   background-color: rgb(0, 0, 0, 0.5);
}

.modal-body {
   background-color: white;
   margin: 10% auto;
   padding: 20px;
   width: 50%;
}
